// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Modules
@import 'auth';
@import 'dashboard';

html, body, #app {
    height:100%;
}

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
}
